body{
  margin: 0;
}

#root {
  min-height: 100vh;
  background-color: tan;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.header-container {
  color: white;
  text-shadow: 1px 1px 5px black;
  height: 20%;
  font-size: 4rem;
}
.header-grade-average {
  height: 100%
}


.grade-average{
  line-height: 300%;
  height: 100px;
  font-size: 2rem;
}

.average-grade-box{
  font-size: 2rem;
  background-color: gray;
  line-height: 140%;
  box-shadow: 1px 2px 5px black;
  border-radius: 20%;
}
